<div class="chat-body">
@for(int i = 0; i < 10 ; i++){
    <div class="message">
        <header>Adima</header>
        <p>This is A text message</p>
        <footer>16:00</footer>
    </div>
    <div class="message">
        <header>Adima</header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptate vitae iure excepturi perferendis porro ipsam, unde possimus illum consequatur, fugit quaerat eius.</p>
        <footer>16:25</footer>
    </div>
    <div class="message">
        <header>Adima</header>
        <p>This is A text message</p>
        <footer>16:40</footer>
    </div>
    <div class="message">
        <header>Adima</header>
        <p>This is A text message</p>
        <footer>16:50</footer>
    </div>
}
</div>
<div class="chat-input">

</div>